body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #0d0d0d;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-area h1 {
  color: crimson;
}

#search {
  margin-top: 15px;
  width: 60%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #1b1b1b;
  color: white;
}

.buttons {
  margin-top: 15px;
}

.category-btn {
  padding: 10px 16px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background: #222;
  color: white;
  cursor: pointer;
}

.category-btn.active {
  background: crimson;
}

.hero {
  height: 90vh;

  background:
    linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.8)),
    url("https://wallpaperaccess.com/full/3703013.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 50px;
}

.hero-content p {
  color: #ddd;
}

#featuredAnime {
  color: crimson;
  margin: 20px 0;
}

#exploreBtn {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background: crimson;
  color: white;
  cursor: pointer;
}

.top-anime {
  padding: 20px;
}

.slider {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  min-width: 220px;
  height: 120px;

  background: linear-gradient(135deg, crimson, #111);

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;

  flex-shrink: 0;
}

section h2 {
  padding-left: 20px;
  color: crimson;
}

.anime-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #111;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(255,0,80,0.5);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card h3 {
  text-align: center;
  padding: 10px;
}

.fav-btn {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: crimson;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #111;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 15px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
}

.close-btn {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

#watchBtn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: crimson;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
